.env
sentiment_analysis
model_checkpoints
.ipynb_checkpoints
logs
data_raw
emotion_analysis
sentiment_analysis.ipynb 
scrape_home_timeline.ipynb
scrape_search_tweets.ipynb
classification_model.ipynb
get_datasets.ipynb
home_timeline_tweets.csv
tweets_df.csv
tmp
nnlm-en-dim128-with-normalization_2.tar.gz
convert_savedmodel_to_h5.ipynb
test.h5