.env
sentiment_analysis
model_checkpoints
.ipynb_checkpoints
logs
data_raw
emotion_analysis
sentiment_analysis.ipynb 
_scrape_home_timeline.ipynb
_scrape_search_tweets.ipynb
_classification_model.ipynb
_get_datasets.ipynb
_home_timeline_tweets.csv
_tweets_df.csv